In [ ]:
from pyspark.sql import SparkSession

from pyspark.sql.functions import col, dense_rank
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType
from pyspark.sql.window import Window

In [ ]:
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [ ]:
csv_file  = "C:\office\rohit-workspace\interview-preparation\practice-questions\pyspark\employee.csv"

# Define data
data = [
    (1, "John Doe", 50000, "Engineering"),
    (2, "Jane Smith", 60000, "Human Resources"),
    (3, "Michael Johnson", 70000, "Finance"),
    (4, "Emily Brown", 55000, "Engineering"),
    (5, "David Lee", 65000, "Marketing"),
    (6, "Sarah Clark", 75000, "Finance"),
    (7, "Alexander Garcia", 60000, "Human Resources"),
    (8, "Emma Martinez", 52000, "Engineering"),
    (9, "James Anderson", 68000, "Marketing"),
    (10, "Sophia Taylor", 72000, "Finance")
]
# Define schema
schema = StructType([
      StructField("employee_id", IntegerType(), True),
      StructField("name", StringType(), True),
      StructField("salary", DoubleType(), True),
      StructField("department", StringType(), True)
])
# Create DataFrame
# df = spark.createDataFrame(data, schema)

df1 = spark.read.csv(csv_file, header=True, schema=schema)
df2 = spark.read.csv(csv_file, header=True, schema=schema)

In [ ]:
# 2nd Highest Salary
df1 =  df1.withColumn("dense_rank", dense_rank().over(Window.orderBy(col("salary").desc())))
df1.filter(col("dense_rank") == 2).select("salary").distinct()

In [ ]:
# Departmentwise Top Salaries
df2.groupBy("department").agg({"salary": "max"}).show()

In [ ]:
# Departmentwise Top 3 Salaries
df2 = df2.withColumn("dense_rank1", dense_rank().over(Window.partitionBy("department").orderBy(col("salary").desc())))
df2.filter(col("dense_rank1") <= 2).select("department", "name", "salary").distinct().show()

In [ ]:
# Find duplicate, "id"

items.groupBy("id").count().filter(col("count") > 1).show(50, truncate=False)

print("\n=================================================================")

items.groupBy("id").agg(
    count("*").alias("count"),
    first("description").alias("description"),
    first("source").alias("source")
).filter(col("count") > 1).show(truncate=False)