In [2]:
import datetime
import pandas as pd

In [3]:
worker_data = [
    [1, "Monika", "Arora", 100000, datetime.date(2014, 2, 20), "HR"],
    [2, "Niharika", "Verma", 80000, datetime.date(2014, 6, 11), "Admin"],
    [3, "Vishal", "Singhal", 300000, datetime.date(2014, 2, 20), "HR"],
    [4, "Amitah", "Singh", 500000, datetime.date(2014, 2, 20), "Admin"],
    [5, "Vivek", "Bhati", 500000, datetime.date(2014, 6, 11), "Admin"],
    [6, "Vipul", "Diwan", 200000, datetime.date(2014, 6, 11), "Account"],
    [7, "Satish", "Kumar", 75000, datetime.date(2014, 1, 20), "Account"],
    [8, "Geetika", "Chauhan", 90000, datetime.date(2014, 4, 11), "Admin"],
    [9, "Agepi", "Argon", 90000, datetime.date(2015, 4, 10), "Admin"],
    [10, "Moe", "Acharya", 65000, datetime.date(2015, 4, 11), "HR"],
    [11, "Nayah", "Laghari", 75000, datetime.date(2014, 3, 20), "Account"],
    [12, "Jai", "Patel", 85000, datetime.date(2014, 3, 21), "HR"]
]

worker_columns = ["worker_id", "first_name", "last_name", "salary", "joining_date", "department"]
df = pd.DataFrame(worker_data, columns=worker_columns)

In [17]:
# 1: Full Name and Highest Salary
df["full_name"] = df["first_name"] + " " + df["last_name"]
# Find the row with the maximum salary
max_salary_row = df.loc[df['salary'].idxmax()]
# Create a new DataFrame with the maximum salary row
result_df = pd.DataFrame({
    "full_name": [max_salary_row["full_name"]],
    "max_salary": [max_salary_row['salary']]
})

# OR

# # Get maximum salary
# max_salary = df["salary"].max()

# # Filter DataFrame to get row with maximum salary
# max_salary_row = df[df["salary"] == max_salary]

# # Create result DataFrame
# result_df = pd.DataFrame({
#     "full_name": max_salary_row["full_name"],
#     "max_salary": max_salary
# })
print(result_df)

In [34]:
# 2:  Highest salary in each department

# Group by department and find the maximum salary for each department
max_salary_df = df.groupby("department").agg({"salary": "max"})

# Reset index to make department a column instead of index
max_salary_df.reset_index(inplace=True)
# Merge with original DataFrame to get full name corresponding to maximum salary
result_df = pd.merge(max_salary_df, df, on=["department", "salary"])

# Select only required columns
result_df = result_df[["department", "full_name", "salary"]]
print(result_df)

  department       full_name  salary
0    Account     Vipul Diwan  200000
1      Admin    Amitah Singh  500000
2      Admin     Vivek Bhati  500000
3         HR  Vishal Singhal  300000

In [35]:
# 3: Last Five Records of Dataset
print(df.tail(5))

    worker_id first_name last_name  salary joining_date department  \
7           8    Geetika   Chauhan   90000   2014-04-11      Admin
8           9      Agepi     Argon   90000   2015-04-10      Admin
9          10        Moe   Acharya   65000   2015-04-11         HR
10         11      Nayah   Laghari   75000   2014-03-20    Account
11         12        Jai     Patel   85000   2014-03-21         HR

          full_name
7   Geetika Chauhan
8       Agepi Argon
9       Moe Acharya
10    Nayah Laghari
11        Jai Patel

In [57]:
marketing_campaign_data = [ 
    ('10', '2019-01-01', '101', '3', '55'),
    ('10', '2019-01-02', '119', '5', '29'),
    ('10', '2019-03-31', '111', '2', '149'),
    ('11', '2019-01-02', '105', '3', '234'),
    ('11', '2019-03-31', '120', '3', '99'),
    ('12', '2019-01-02', '112', '2', '200'),
    ('12', '2019-03-31', '110', '2', '299'),
    ('13', '2019-01-05', '113', '1', '67'),
    ('13', '2019-03-31', '118', '3', '35'),
    ('14', '2019-01-06', '109', '5', '199'),
    ('14', '2019-01-06', '107', '2', '27'),
    ('14', '2019-03-31', '112', '3', '200'),
    ('15', '2019-01-08', '105', '4', '234'),
    ('15', '2019-01-09', '110', '4', '299'),
    ('15', '2019-03-31', '116', '2', '499'),
    ('16', '2019-01-10', '113', '2', '67'),
    ('16', '2019-03-31', '107', '4', '27'),
    ('17', '2019-01-11', '116', '2', '499'),
    ('17', '2019-03-31', '104', '1', '154'),
    ('18', '2019-01-12', '114', '2', '248'),
    ('18', '2019-01-12', '113', '4', '67'),
    ('19', '2019-01-12', '114', '3', '248'),
    ('20', '2019-01-15', '117', '2', '999'),
    ('21', '2019-01-16', '105', '3', '234'),
    ('21', '2019-01-17', '114', '4', '248'),
    ('22', '2019-01-18', '113', '3', '67'),
    ('22', '2019-01-19', '118', '4', '35'),
    ('23', '2019-01-20', '119', '3', '29'),
    ('24', '2019-01-21', '114', '2', '248'),
    ('25', '2019-01-22', '114', '2', '248'),
    ('25', '2019-01-22', '115', '2', '72'),
    ('25', '2019-01-24', '114', '5', '248'),
    ('25', '2019-01-27', '115', '1', '72'),
    ('26', '2019-01-25', '115', '1', '72'),
    ('27', '2019-01-26', '104', '3', '154'),
    ('28', '2019-01-27', '101', '4', '55'),
    ('29', '2019-01-27', '111', '3', '149'),
    ('30', '2019-01-29', '111', '1', '149'),
    ('31', '2019-01-30', '104', '3', '154'),
    ('32', '2019-01-31', '117', '1', '999'),
    ('33', '2019-01-31', '117', '2', '999'),
    ('34', '2019-01-31', '110', '3', '299'),
    ('35', '2019-02-03', '117', '2', '999'),
    ('36', '2019-02-04', '102', '4', '82'),
    ('37', '2019-02-05', '102', '2', '82'),
    ('38', '2019-02-06', '113', '2', '67'),
    ('39', '2019-02-07', '120', '4', '99')
]

marketing_campaign_columns = ["user_id", "created_at", "product_id", "quantity", "price"]
marketing_campaign_df = pd.DataFrame(marketing_campaign_data, columns=marketing_campaign_columns)

In [58]:
ad_performance_rating_df = marketing_campaign_df

In [59]:
# Ad Performance Rating
ad_performance_rating_df["quantity"] = ad_performance_rating_df["quantity"].astype("int")
ad_performance_rating_df = ad_performance_rating_df.groupby("product_id").agg({"quantity": "sum"})
# Reset index to include "product_id" as a column
ad_performance_rating_df = ad_performance_rating_df.reset_index()
ad_performance_rating_df = ad_performance_rating_df.rename(columns={"quantity": "total_units_sold"})
# Define a lambda function to categorize performance
categorize_performance = lambda x: 'Outstanding' if x >= 30 else \
                                    'Satisfactory' if 20 <= x <= 29 else \
                                    'Unsatisfactory' if 10 <= x <= 19 else \
                                    'Poor' if 1 <= x <= 9 else 'Unknown'

# Apply the lambda function to create a new column for ad performance
ad_performance_rating_df['ad_performance'] = ad_performance_rating_df['total_units_sold'].apply(categorize_performance)
# # Reset index to include "product_id" as a column
# ad_performance_rating_df = ad_performance_rating_df.reset_index()
# Sort by total units sold in descending order
ad_performance_rating_df = ad_performance_rating_df.sort_values(by='total_units_sold', ascending=False)

In [61]:
ad_performance_rating_df.head()

   product_id  total_units_sold  ad_performance
10        114                18  Unsatisfactory
9         113                12  Unsatisfactory
3         105                10  Unsatisfactory
6         110                 9            Poor
15        119                 8            Poor