In [ ]:
"""
# Find doctors with the last name of 'Johnson' in the employee list. The 
output should contain both their first and last names.

SELECT 
  first_name, 
  last_name 
FROM 
  employee_list 
WHERE 
  last_name = 'Johnson' AND profession = 'Doctor';
"""

In [ ]:
"""
Write a query that calculates the difference between the highest salaries 
found in the marketing and engineering departments. 

Output just the absolute difference in salaries.

SELECT ABS((
    SELECT MAX(e1.salary)
    FROM employee e1
    JOIN department d1 ON e1.department_id = d1.department_id
    WHERE d1.department_name = 'IT'
) - (
    SELECT MAX(e2.salary)
    FROM employee e2
    JOIN department d2 ON e2.department_id = d2.department_id
    WHERE d2.department_name = 'Marketing'
)) AS salary_difference;


"""

In [ ]:
"""
Write an SQL query to find all the strong friendships.

A friendship between a pair of friends x and y is strong if x and y have at least three common friends.
Note that the result table should not contain duplicates with user1_id < user2_id.

Friendship table:
+----------+----------+
| user1_id | user2_id |
+----------+----------+
| 1        | 2        |
| 1        | 3        |
| 2        | 3        |
| 1        | 4        |
| 2        | 4        |
| 1        | 5        |
| 2        | 5        |
| 1        | 7        |
| 3        | 7        |
| 1        | 6        |
| 3        | 6        |
| 2        | 6        |
+----------+----------+

Result table:
+----------+----------+---------------+
| user1_id | user2_id | common_friend |
+----------+----------+---------------+
| 1        | 2        | 4             |
| 1        | 3        | 3             |
+----------+----------+---------------+

with cte as (
  select 
    user1_id, 
    user2_id 
  from friendship

union 
  select user2_id as user1_id, user1_id as user2_id
from friendship
)

select 
  t1.user1_id as user1_id, t2.user1_id as user2_id, count(*) as common_friend
from cte 
  as t1 inner join cte as t2 on t1.user1_id < t2.user1_id and t1.user2_id = t2.user2_id
group by 
  t1.user1_id, t2.user1_id
having count(*) >=3;


"""

In [ ]:
"""
Write an SQL query to find all dates' id with higher temperature compared to its previous dates (yesterday).

Weather
+----+------------+-------------+
| id | recordDate | Temperature |
+----+------------+-------------+
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |
+----+------------+-------------+

SELECT w1.id
FROM weather w1
WHERE w1.temperature > (
    SELECT w2.temperature
    FROM Weather w2
    WHERE w2.recordDate = w1.recordDate - INTERVAL '1 day'
)
ORDER BY w1.id;

"""